* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NanumDaSiSiJagHae', sans-serif;
}

body {
  font-family: 'NanumDaSiSiJagHae', sans-serif;
  background-color: black;
  color: white;
  background-image: url(../images/christmastree.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

header {
  display: flex;
  text-shadow: 2px 2px 2px black; 
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding: 10px;
  font-size: 80px;

  .github {
    font-size: 15px;
    img {
      width: 40px;
      height: 40px;
      margin: 0 30px;
      filter: invert(60%);
    }
  }
}
.input-container {
  height: 200px;
  display: flex;
  align-items: center;
  width: 600px;
  margin: auto;
  padding: 10px;
  justify-content: space-between;
  flex-wrap: wrap;

  .input-area {
    display: flex;
    width: 600px;

    .todo-input {
      padding: 10px;
      font-size: 35px;
      border: none;
      background: white;
      width: 100%;
    }

    .todo-btn {
      padding: 10px;
      font-size: 35px;
      border: none;
      background: white;
      color: white;
      background: olive;
      cursor: pointer;
    }
  }
}

.todo-container {
  background-color: rgba(0, 0, 0, 0.692);
  width: fit-content;
  margin: 15px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  .todo-list {
    width: 600px;

    .todo {
      margin: 10px;
      background: white;
      font-size: 20px;
      color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;

      // !
      transition: 1s ease;

      .todo-item {
        // !
        flex-grow: 1;
        border: none;
        font-size: 30px;
        outline: none;
        padding: 0 10px;

        // !
        overflow-x: scroll;
        white-space: nowrap;
      }

      &.delete {
        // !
        transform: translateX(10rem);
        opacity: 0;
      }

      &.done {
        // !
        text-decoration: line-through;
        opacity: 0.5;
      }

      .todo-item::-webkit-scrollbar {
        display: none;
      }

      .delete-btn {
        background: darkcyan;
        color: white;
        border: none;
        padding: 1rem;
        cursor: pointer;
        font-size: 1rem;
      }

      .complete-btn {
        background: seagreen;
        color: white;
        border: none;
        padding: 1rem;
        cursor: pointer;
        font-size: 1rem;
      }

      .edit-btn {
        background: yellowgreen;
        color: white;
        border: none;
        padding: 1rem;
        cursor: pointer;
        font-size: 1rem;
      }

      .save-btn {
        background: black;
        color: white;
        border: none;
        padding: 1rem;
        cursor: pointer;
        font-size: 1rem;
        background: black;
        color: white;
        border: none;
        padding: 1rem;
        cursor: pointer;
        font-size: 1rem;
        display: none;
      }

      &.edit {

        .complete-btn,
        .edit-btn,
        .delete-btn {
          display: none;
        }

        .save-btn {
          display: block;
        }
      }
    }
  }
}

.input-container .radio-area {
  width: 100%;
  display: flex;
  justify-content: center;

  input[type='radio'] {
    width: 0;
    height: 0;
    position: absolute;

    +label {
      margin: 0 30px;
      padding: 16px 20px;
      font-size: 25px;
      font-weight: 700;
      background-color: #fff;
      cursor: pointer;
      color: black;
      transition: 0.2s;
    }

    &:checked+label {
      background-color: cadetblue;
      color: #fff;
      border-color: cadetblue;
    }
  }
}


@media (max-width: 700px) {
  .input-container {
    width: 100%;

    .input-area,
    .radio-area {
      width: 100%;
    }
  }

  .todo-container .todo-list {
    width: 100%;
  }
}