/* VARIABLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NanumDaSiSiJagHae", sans-serif;
}

body {
  font-family: "NanumDaSiSiJagHae", sans-serif;
  background-color: black;
  color: rgba(255, 255, 255, 0.908);
  background-image: url(../images/christmastree.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 50px auto;
  padding: 10px;
  font-size: 80px;
  text-shadow: 3px 3px 3px black;
}
header .github {
  width: 100px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  text-decoration: none;
  color: gray;
  font-size: 30px;
}
header .github img {
  width: 65px;
  height: 65px;
  margin: 0 20px;
}
header .github:hover {
  filter: sepia(20);
}

/* INPUT CONTAINER */
.input-container {
  height: 200px;
  display: flex;
  align-items: center;
  width: 600px;
  margin: auto;
  padding: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  /* FILTER BTN, DELETE-ALL BTN */
}
.input-container .input-area {
  position: relative;
  display: flex;
  width: 600px;
}
.input-container .input-area .todo-input {
  padding: 10px;
  font-size: 35px;
  border: 4px solid black;
  border-radius: 20px;
  background-color: rgba(249, 245, 237, 0.756);
  width: 100%;
}
.input-container .input-area .todo-input::-moz-placeholder {
  text-align: center;
  color: rgba(65, 124, 1, 0.4352941176);
}
.input-container .input-area .todo-input:-ms-input-placeholder {
  text-align: center;
  color: rgba(65, 124, 1, 0.4352941176);
}
.input-container .input-area .todo-input::placeholder {
  text-align: center;
  color: rgba(65, 124, 1, 0.4352941176);
}
.input-container .input-area .todo-input:focus {
  background-color: rgba(251, 239, 217, 0.748);
  outline: none;
  padding-left: 20px;
  caret-color: olivedrab;
}
.input-container .input-area .todo-input:focus::-moz-placeholder {
  font-style: italic;
}
.input-container .input-area .todo-input:focus:-ms-input-placeholder {
  font-style: italic;
}
.input-container .input-area .todo-input:focus::placeholder {
  font-style: italic;
}
.input-container .input-area .todo-btn {
  position: absolute;
  right: 8px;
  top: 9px;
  padding: 10px;
  width: 50px;
  height: 50px;
  margin: auto;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  color: rgba(226, 226, 226, 0.899);
  background: rgba(0, 0, 0, 0.859);
  cursor: pointer;
}
.input-container .radio-area {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.input-container .radio-area .select-all {
  position: absolute;
  top: 55px;
  width: 600px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  display: none;
}
.input-container .radio-area .select-all .delete-all {
  width: 120px;
  height: 30px;
  line-height: 23px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  background-color: rgba(251, 239, 217, 0.748);
  cursor: pointer;
  color: black;
  transition: 0.2s;
  border: 3px solid black;
  border-radius: 10px;
}
.input-container .radio-area .select-all .delete-all:hover {
  background-color: rgba(191, 182, 164, 0.753);
}
.input-container .radio-area input[type=radio] {
  width: 0;
  height: 0;
  position: absolute;
}
.input-container .radio-area input[type=radio] + label {
  margin: 0 30px;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: 700;
  background-color: rgba(249, 245, 237, 0.756);
  color: black;
  transition: 0.2s;
  border: 3px solid black;
  border-radius: 10px;
  cursor: pointer;
}
.input-container .radio-area input[type=radio] + label:hover {
  background-color: rgba(191, 182, 164, 0.753);
}
.input-container .radio-area input[type=radio]:checked + label {
  background-color: rgba(72, 62, 47, 0.685);
  color: rgba(255, 255, 255, 0.908);
}
.input-container .radio-area input[type=radio]:checked + label[for=filter3] + .select-all {
  display: flex;
}

/* CONTENT */
.todo-container {
  background-color: rgba(0, 0, 0, 0.692);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 15px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.todo-container .todo-list {
  width: 600px;
}
.todo-container .todo-list .todo-wrap {
  transition: 1s ease;
}
.todo-container .todo-list .todo-wrap.delete {
  transform: translateX(10rem);
  opacity: 0;
}
.todo-container .todo-list .todo-wrap.done .todo {
  color: grey;
  -webkit-text-decoration: 2px line-through;
          text-decoration: 2px line-through;
  opacity: 0.5;
  transition: 0.3s ease;
}
.todo-container .todo-list .todo-wrap.done .date-div {
  opacity: 0.5;
}
.todo-container .todo-list .todo-wrap .date-div {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: grey;
  font-size: 11px;
}
.todo-container .todo-list .todo-wrap .todo {
  margin: 5px 10px;
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-container .todo-list .todo-wrap .todo .todo-item {
  flex-grow: 1;
  line-height: 50px;
  background-color: rgba(226, 226, 226, 0.899);
  border: 2px solid black;
  border-radius: 10px;
  font-size: 30px;
  outline: none;
  padding: 0 10px;
  overflow-x: scroll;
  white-space: nowrap;
}
.todo-container .todo-list .todo-wrap .todo .todo-item:focus {
  background-color: rgba(244, 239, 229, 0.763);
  outline: none;
  padding-left: 20px;
}
.todo-container .todo-list .todo-wrap .todo .todo-item::-webkit-scrollbar {
  display: none;
}
.todo-container .todo-list .todo-wrap .todo .delete-btn {
  background-color: rgba(226, 226, 226, 0.899);
  color: rgb(154, 14, 42);
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
}
.todo-container .todo-list .todo-wrap .todo .delete-btn:hover {
  background-color: rgba(255, 249, 238, 0.527);
}
.todo-container .todo-list .todo-wrap .todo .complete-btn {
  background-color: rgba(226, 226, 226, 0.899);
  color: seagreen;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
}
.todo-container .todo-list .todo-wrap .todo .complete-btn:hover {
  background-color: rgba(255, 249, 238, 0.527);
}
.todo-container .todo-list .todo-wrap .todo .edit-btn {
  background-color: rgba(226, 226, 226, 0.899);
  color: #402d5a;
  border: none;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
}
.todo-container .todo-list .todo-wrap .todo .edit-btn:hover {
  background-color: rgba(255, 249, 238, 0.527);
}
.todo-container .todo-list .todo-wrap .todo .save-btn {
  background-color: rgba(226, 226, 226, 0.899);
  color: black;
  border: none;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  display: none;
}
.todo-container .todo-list .todo-wrap .todo .save-btn:hover {
  background-color: rgba(255, 249, 238, 0.527);
}
.todo-container .todo-list .todo-wrap .todo.edit .complete-btn,
.todo-container .todo-list .todo-wrap .todo.edit .edit-btn,
.todo-container .todo-list .todo-wrap .todo.edit .delete-btn {
  display: none;
}
.todo-container .todo-list .todo-wrap .todo.edit .save-btn {
  display: block;
}

@media (max-width: 700px) {
  .input-container {
    width: 100%;
  }
  .input-container .input-area,
.input-container .radio-area {
    width: 100%;
  }
  .todo-container .todo-list {
    width: 100%;
  }
  .select-all {
    width: 80%;
    margin: 0 auto;
  }
}
/* LOADING ICON */
[h-loader] {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  color: rgba(251, 239, 217, 0.748);
  display: none;
}

.loading-svg {
  -webkit-animation: progress-circular-rotate 1.4s linear infinite;
          animation: progress-circular-rotate 1.4s linear infinite;
}

circle {
  -webkit-animation: progress-circular-dash 1.4s ease-in-out infinite;
          animation: progress-circular-dash 1.4s ease-in-out infinite;
  fill: transparent;
  stroke-linecap: round;
  stroke-dasharray: 80, 200;
  stroke-dashoffset: 0px;
  stroke: currentColor;
}

@-webkit-keyframes progress-circular-rotate {
  to {
    transform: rotate(1turn);
  }
}

@keyframes progress-circular-rotate {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes progress-circular-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0px;
  }
  50% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -15px;
  }
  to {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes progress-circular-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0px;
  }
  50% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -15px;
  }
  to {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -124px;
  }
}/*# sourceMappingURL=main.css.map */